.container {
  height: 100%;
  padding: 2rem 1rem;
}

// form styles
.feedback-form {
  width: 100%;
  max-width: 500px;
  background-color: var(--white-01);

  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    background-color: var(--green-01);
    color: var(--white-01);

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 2rem auto 1rem;
    transition: all linear 300ms;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      background-color: var(--gray-01);
      color: var(--gray-02);
      cursor: not-allowed;
    }
  }
}

.rc-input,
.rc-textarea {
  width: 100%;
  background-color: var(--gray-01);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 0;
  outline: none;

  &::placeholder {
    color: var(--gray-02);
  }
}

.rc-textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
}
