// form styles
.feedback-form {
  width: 500px;
  height: 100%;
  min-height: 800px;
  background-color: var(--white-01);

  padding: 1rem 2rem;
  border-radius: 1rem;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    background-color: var(--green-01);
    color: var(--white-01);

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0 auto;

    &:hover {
      opacity: 0.85;
    }
  }
}

.rc-input,
.rc-textarea {
  width: 100%;
  background-color: var(--gray-01);

  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 0;
  outline: none;

  &::placeholder {
    color: var(--gray-02);
  }
}

.rc-textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
}
